\documentclass[a4paper,12pt]{article}
\usepackage[margin=2cm]{geometry}
\usepackage{textcomp}

\title{\VAR{source.nick | latex_escape}}
\author{\VAR{source.race | latex_escape} --- \VAR{source.points} points}

\begin{document}
\maketitle

\BLOCK{for unit in source.units}
\section{\VAR{unit.name | latex_escape}\BLOCK{if unit.count > 1} (\VAR{unit.count}$\times$)\BLOCK{endif}}

\textbf{Size:} \VAR{unit.size | latex_escape} \\
\textbf{Models:} \VAR{unit.model_summary | join(', ') | latex_escape} \\
\BLOCK{if unit.armor}
\textbf{Armor:} [\VAR{unit.armor | join(', ')}] \\
\BLOCK{endif}
\textbf{Points:} \VAR{unit.points} \\
\textbf{Shaken:} \VAR{unit.shaken_speed | latex_escape} [\VAR{unit.shaken_movement | join(', ') | latex_escape}] / \VAR{unit.shaken_fire | latex_escape}

\BLOCK{if unit.specials}
\begin{itemize}
\BLOCK{for name, text in unit.specials}
\item \textbf{\VAR{name | latex_escape}}: \VAR{text | latex_escape}
\BLOCK{endfor}
\end{itemize}
\BLOCK{endif}
\BLOCK{for name, rows in unit.damage_tables}

\noindent\textbf{Damage Table: \VAR{name | latex_escape}}

\begin{tabular}{l}
\BLOCK{for row in rows}
\VAR{row | latex_escape} \\
\BLOCK{endfor}
\end{tabular}
\vspace{1ex}
\BLOCK{endfor}

\BLOCK{for model in unit.models}
\subsection{\VAR{model.name | latex_escape}}

\textbf{Equipment:} \VAR{model.equipment_summary | join(', ') | latex_escape} \\
\textbf{Assault:} strength \VAR{model.assault_strength | join('/')} (\VAR{model.assault_strength_die | latex_escape}),
deflection \VAR{model.assault_deflection | join('/')} (\VAR{model.assault_deflection_die | latex_escape}),
damage \VAR{model.assault_damage | latex_escape}, AP \VAR{model.assault_ap}

\BLOCK{if model.specials or model.assault_specials}
\begin{itemize}
\BLOCK{for name, text in model.specials}
\item \textbf{\VAR{name | latex_escape}}: \VAR{text | latex_escape}
\BLOCK{endfor}
\BLOCK{for name, text in model.assault_specials}
\item \textbf{\VAR{name | latex_escape}}: \VAR{text | latex_escape}
\BLOCK{endfor}
\end{itemize}
\BLOCK{endif}

\BLOCK{for equip in model.equipment}
\subsubsection{\VAR{equip.name | latex_escape}}

\textbf{Range:} \VAR{equip.range}, angle \VAR{equip.angle | join('/') | latex_escape}, damage \VAR{equip.damage | latex_escape}, AP \VAR{equip.ap}

\BLOCK{if equip.specials}
\begin{itemize}
\BLOCK{for name, text in equip.specials}
\item \textbf{\VAR{name | latex_escape}}: \VAR{text | latex_escape}
\BLOCK{endfor}
\end{itemize}
\BLOCK{endif}
\BLOCK{endfor}
\BLOCK{endfor}

\newpage
\BLOCK{endfor}
\end{document}
