\documentclass[a4paper,12pt]{article}
\usepackage[margin=2cm]{geometry}
\usepackage{textcomp}
\usepackage{graphicx}

\title{\VAR{source.nick | latex_escape}}
\author{\VAR{source.race | latex_escape} --- \VAR{source.points} points}

\begin{document}
\maketitle

\BLOCK{if source.race_image}
\begin{center}
\includegraphics[width=0.5\textwidth]{\VAR{source.race_image | posix_path}}
\end{center}
\newpage
\BLOCK{endif}

\BLOCK{set reference = source}
\BLOCK{set unit_heading = "\\section"}
\BLOCK{set model_heading = "\\subsection"}
\BLOCK{set equip_heading = "\\subsubsection"}
\BLOCK{include "army-rules/reference-body.tex.jinja"}
\end{document}
