# {{ source.nick }} — {{ source.race }} — {{ source.points }} points
{% if source.race_image %}
![{{ source.race }}]({{ source.race_image | relative_to(output_dir) }})
{% endif %}
{%- set reference = source -%}
{%- set hashes = "##" -%}
{% include "army-rules/reference-body.md.jinja" %}
