\documentclass{article}
\begin{document}
\section*{\VAR{source.title}}
\begin{itemize}
\BLOCK{ for key, value in source.rows }
\item \VAR{key}: \VAR{value}
\BLOCK{ endfor }
\end{itemize}
\end{document}
